.Centrar {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 200px;
    background: red;
    border: 5px solid blue;
    gap: 20px;
}

.Orde {
    flex-direction: column;
}

.CentraC {
    width: 100%;
    display: flex;
    justify-content: center;
}